body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.green-element {
  width: 100px;
  height: 150px;
  background-color: green;
}

.red-element {
  width: 100px;
  height: 150px;
  background-color: red;
}

.shapes-container {
  display: grid;
      grid-template-columns: repeat(5, 1fr); 
      gap: 20px; 
      padding: 100px;
}

